@import "normalize.styl"

gris_oscuro = #333333
gris_claro = #818181
a
	text-decoration none
body
	font-family 'Varela Round', sans-serif
	font-size 16px
figure
	margin 0
//buttons
.button-menu
	left .5em
	margin-top -10px
	position absolute
	top 50%
//oocss classes
.container
	padding 1.4rem
	font-size 0
	text-align center
.border-bottom
	border-bottom 1px solid gris_claro
.name
	color gris_oscuro
.menu
	display none
.relative
	position relative
.author
	color gris_claro
.header
	height 3.5em
	// a
	// 	display none
	.title
		font-size 1.1em
		line-height 3.5em
		margin 0
		text-align center
.song
	display inline-block
	font-size 1rem
	margin-bottom 1em
	margin-right 1em
	text-align left
	width 8rem
	&:nth-child(even)
		margin-right 0
	p
		margin .5em 0


