gris_oscuro = #333333
gris_claro = #818181

body
	font-size 16px
figure
	margin 0
.container
	font-size 0
	padding 2.8rem
	text-align center
.header
	text-align center
	border-bottom 1px solid gris_claro
	.btn-menu
		color gris_oscuro
		float left
		font-size 3em
		left .4em
		position relative
		text-decoration none
		top .4em
	.title
		font-size 1.2em
		height 4em
		line-height 4em


.menu
	display none
.song
	display inline-block
	font-size 1rem
	margin-bottom 2.8em
	margin-right 2em
	text-align left
	width 128px
	&:nth-child(even)
		margin-right 0
	p
		margin .5em 0
	.name
		color gris_oscuro
	.author
		color gris_claro