<!doctype html>
<html lang="en" ng-app="Sfotipy">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>Sfotipy</title>
  <link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="css/estilos.css">
</head>
<body ng-controller="AppController">
  <header class="header relative border-bottom">
    <div class="logo">
      <div class="wrap center-block">
        <figure class="image isotipo left">
          <img src="img/logo.png" alt="Sfotipy"/>
        </figure>
        <div class="user right">
          <figure class="avatar round left">
            <img src="img/avatares/leonidas.jpg" alt="@LeonidasEsteban" width="38" height="38">
          </figure>
          <span class="left username">@LeonidasEsteban</span>
        </div>
        <div class="search right">
          <form action="" class="relative">
            <span class="icon-search search-icon"></span>
            <input type="text"  placeholder="ejem: Leonidas Esteban" class="input">
            <span class="close-icon">x</span>
          </form>
        </div>
      </div>

    </div>
    <a href="" class="button-menu icon-menu"></a>
    <nav class="menu">
      <ul class="list center-block wrap">
        <li class="item">
          <a href="#">Top Hits</a>
        </li>
        <li class="item">
          <a href="#">Profile</a>
        </li>
        <li class="item">
          <a href="#">Settings</a>
        </li>
        <li class="item">
          <a href="#">Playlist</a>
        </li>
      </ul>
    </nav>
    <div class="title">
      <span>
        Top hits
      </span>
    </div>
  </header>

  <section class="playing small medium large">
    <div class="music">
     <figure class="image relative">
        <img ng-src="{{currentAlbum.cover}}" width="320" height="320" alt="{{currentAlbum.name}} - {{currentAlbum.author}}">
        <div class="actions padding right-text">
          <a href="#" class="action icon-add"></a>
          <a href="#" class="action icon-love"></a>
          <a href="#" class="action icon-share"></a>
        </div>
      </figure>
      <div class="padding">
        <div class="progress">
          <span class="min">0:45</span>
          <div class="total">
            <div class="state">
              <div class="circle">
                
              </div>
            </div>
          </div>
          <span class="max">{{currentSong.length}}</span>
        </div>
        <div class="description center-text border-bottom">
          <p class="name">
            {{currentSong.name}}
          </p>
          <p class="author">
            {{currentAlbum.author}}
          </p>
        </div>
        <div class="play center-text padding-tb">
          <a href="" class="action gray icon-prev"></a>
          <a href="" class="action gray icon-play"></a>
          <a href="" class="action gray icon-next"></a>
          <a href="" class="action gray icon-random"></a>
          <a href="" class="action gray icon-vol"></a>
        </div>
      </div>
    </div>
    <div class="playlist ">
      <div class="current">
        <p class="name">
          {{currentAlbum.name}}
        </p>
        <p class="author">
         {{currentAlbum.author}}
        </p>
      </div>
      <ul class="list">
        <li class="item border-bottom" ng-repeat="song in currentAlbum.songs">
          <span>
            {{song.name}} ({{song.length}})
          </span>
          <span class="right">
            <a href="" ng-click="add(song.name)" class="action icon-add gray"></a>
            <a href="" class="action icon-love gray"></a>
            <a href="" class="action icon-share gray"></a>
          </span>
        </li>
      </ul>
    </div>
  </section>

  <section id="albums" class="container">
    <article class="song" ng-repeat="album in albums" ng-click="select(album.name)">
      <figure class="image">
        <img src="{{album.cover}}" width="128" height="128" alt="{{album.name}} - {{album.author}}">
      </figure>
      <p class="name">
        {{album.name}}
      </p>
      <p class="author">
        {{album.author}}
      </p>
    </article>
  </section>

  <script type="text/javascript" src="lib/underscore.js"></script>
  <script type="text/javascript" src="lib/angular.js"></script>
  <script type="text/javascript" src="lib/angular-route.js"></script>
  <script type="text/javascript" src="js/app.js"></script>
  <script type="text/javascript" src="js/controllers.js"></script>
</body>
</html>
