<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>Document</title>
	<link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="css/estilos.css">
</head>
<body id="home">
	<header class="small medium large">
		<div class="relative banner-home">
			<div class="logo-nav">
				<figure class="image relative isotipo">
					<img src="img/logo_home.png" alt="Sfotipy"/>
				</figure>
				<a href="#" class="login-btn large">Log in</a>
			</div>
			<h2 class="slogan" >Toda la musica que te gusta, en todas partes</h2>
			<div id="social-content">
				<a href="javascript:;" class="fb-login"><i class="social-icon icon-facebook"></i><span class="login-text">Conéctate con Facebook</span></a>
				<a href="javascript:;" class="tw-login"><i class="social-icon icon-twitter"></i><span class="login-text">Conéctate con Twitter</span></a>
				<span class="create-account large">
					Or
					<a href="" class="create-account-btn">Create Account</a>
				</span>
			</div>
		</div>
	</header>
	<section class="home-content small medium large">
		<nav class="menu-login  small medium">
			<ul>
				<li><span>Log in</span></li>
				<li><span>Create account</span></li>
			</ul>
		</nav>
		<article class="home-info">
			<figure class="home-info-image">
				<img class="small" src="img/home/escucha-img-small.jpg" alt="Escucha">
				<img class=" medium" src="img/home/escucha-img.jpg" alt="Escucha">
				<img class=" large" src="img/home/escucha-img-large.png" alt="Escucha">
			</figure>
			<div class="home-info-content medium large">
				<h3 class="home-info-title">Escucha</h3>
				<span class="home-info-description">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit.
				</span>				
			</div>
		</article>
		<article class="home-info">
			<div class="home-info-content large">
				<h3 class="home-info-title">Comparte</h3>
				<span class="home-info-description">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit.
				</span>
			</div>
			<figure class="home-info-image">
				<img class="small" src="img/home/comparte-img-small.jpg" alt="Comparte">
				<img class=" medium"  src="img/home/comparte-img.jpg" alt="Comparte">
				<img class=" large"  src="img/home/comparte-img-large.png" alt="Comparte">
			</figure>
			<div class="home-info-content small medium">
				<h3 class="home-info-title">Comparte</h3>
				<span class="home-info-description">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit.
				</span>
			</div>
		</article>
		<article class="home-info">
			<figure class="home-info-image">
				<img class="small" src="img/home/makeplaylist-img-small.jpg" alt="Crea y sigue playlists">
				<img class=" medium"  src="img/home/makeplaylist-img.jpg" alt="Crea y sigue playlists">
				<img class=" large"  src="img/home/makeplaylist-img-large.png" alt="Crea y sigue playlists">
			</figure>
			<div class="home-info-content medium large">
				<h3 class="home-info-title">Crea y sigue playlists</h3>
				<span class="home-info-description">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit.
				</span>
			</div>
		</article>
		<a href="#" class="start-to-listening small">Empieza a escuchar ya</a>
	</section>
	<!-- <section class="home-content large">
		<article class="home-info-row">
			
		</article>
	</section> -->
	<footer class="home-footer">
		<div class="wrapper">
			<i class="home-footer-logo icon-sfotipy"></i>
			<nav class="home-footer-menu">
				<ul>
					<li><a href="#">about us</a></li>
					<li><a href="#">legal</a></li>
				</ul>
			</nav>
		</div>
	</footer>
</body>
</html>