<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>Sfoti.py | Comparte y escucha la mejor música</title>
	<link rel="stylesheet" href="css/estilos.css">
</head>
<body>
	<header class="header relative border-bottom">

		<div class="logo">
			<div class="wrap center-block">
				<figure class="image isotipo left">
					<img src="img/logo.png" alt="Sfotipy"/>
				</figure>
				<div class="user right">
					<figure class="avatar round left">
						<img src="img/avatares/leonidas.jpg" alt="@LeonidasEsteban" width="38" height="38">
					</figure>
					<span class="left username">@LeonidasEsteban</span>
				</div>
				<div class="search right">
					<form action="" class="relative">
						<span class="icon-search input-icon"></span>
						<input type="text"  placeholder="ejem: Leonidas Esteban" class="input">
						<span class="close-icon">x</span>
					</form>
				</div>
			</div>
		</div>

		<a href="" class="button-menu icon-menu"></a>
		<nav class="menu">
			<ul class="list center-block wrap">
				<li class="item">
					<a href="#">Top Hits</a>
				</li>
				<li class="item">
					<a href="#">Profile</a>
				</li>
				<li class="item">
					<a href="#">Settings</a>
				</li>
				<li class="item">
					<a href="#">Playlist</a>
				</li>
			</ul>
		</nav>

		<div class="title">
			<span>
				Top hits
			</span>
		</div>

	</header>

	<!-- Inicio -->
	<section class="home small medium large">
		<figure class="logo">
			<img src="img/logo.png" alt="" />
			<figCaption class="slogan">Toda la música que te gusta, en todas partes</figCaption>
		</figure>
		<div class="login">
			<ul class="social-buttons">
				<li class="btn btn-facebookr">
					<a href="#"><span class="icon-facebook"></span>Conéctate con Facebook</a>
				</li>
				<li class="btn btn-twitter">
					<a href="#"><span class="icon-twitter"></span>Conéctate con Twitter</a>
				</li>
			</ul>
			<ul class="basic">
				<li>
					<a href="#">Log In</a>
				</li>
				<li>
					<a href="#">Create Account</a>
				</li>
			</ul>
		</div>
		<form>
			<legend>Crea una cuenta</legend>
			<div class="relative input-group">
				<span class="icon-user input-icon"></span>
				<input type="text" placeholder="Username" class="input">
			</div>
			<div class="relative input-group">
				<span class="icon-user input-icon"></span>
				<input type="email" placeholder="Email" class="input">
			</div>
			<div class="relative input-group">
				<span class="icon-lock input-icon"></span>
				<input type="password" placeholder="Choose a password" class="input">
			</div>
			<div class="relative input-group">
				<span class="icon-lock input-icon"></span>
				<input type="password" placeholder="Confirm password" class="input">
			</div>
			<div class="relative input-group">
				<a href="#" class="btn btn-submit">Regístrate</a>
			</div>
		</form>
		<aside class="copywritting">
			<figure class="cover-hit">
				<img src="img/cover_escucha.jpg" alt="" />
			</figure>
			<div class="copy">
				<p class="author">Escucha</p>
				<p class="title">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
			</div>
			<figure class="cover-hit">
				<img src="img/cover_comparte.jpg" alt="" />
			</figure>
			<div class="copy">
				<p class="author">Comparte</p>
				<p class="title">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
			</div>
			<figure class="cover-hit">
				<img src="img/cover_sigueplaylist.jpg" alt="" />
			</figure>
			<div class="copy">
				<p class="author">Crea y sigue playlist</p>
				<p class="title">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
			</div>
			<div>
				Empieza a escucha ya
			</div>
		</aside>
		<footer class="footer">
			<span class="icon-sfotipy"></span>
			<span>
				<a href="#">about us</a>
				<a href="#">legal</a>
			</span>
		</footer>
	</section>

	<!-- Canción -->
	<section class="playing small medium large">
		<div class="music">
			<figure class="image relative">
				<img src="img/songs/test-playing.jpg" width="320" height="320" alt="Come Get It Bae Pharrell Williams">
				<div class="actions padding right-text">
					<a href="" class="action icon-add"></a>
					<a href="" class="action icon-love"></a>
					<a href="" class="action icon-share"></a>
				</div>
			</figure>
			<div class="padding">
				<div class="progress">
					<span class="min">0:45</span>
					<div class="total">
						<div class="state">
							<div class="circle">

							</div>
						</div>
					</div>
					<span class="max">4:10</span>
				</div>
				<div class="description center-text border-bottom">
					<p class="name">
						Come Get It Bae
					</p>
					<p class="author">
						Pharrell Williams
					</p>
				</div>
				<div class="play center-text padding-tb">
					<a href="" class="action gray icon-prev"></a>
					<a href="" class="action gray icon-play"></a>
					<a href="" class="action gray icon-next"></a>
					<a href="" class="action gray icon-random"></a>
					<a href="" class="action gray icon-vol"></a>
				</div>
			</div>
		</div>

		<!-- Album -->
		<div class="playlist right">
			<p class="name">
				Girl
			</p>
			<p class="author">
				Pharrell Williams
			</p>
			<ul class="list">
				<li class="item border-bottom">
					<span>
						Marilyn Monroe
					</span>
					<span class="right">
						<a href="" class="action icon-add gray"></a>
						<a href="" class="action icon-love gray"></a>
						<a href="" class="action icon-share gray"></a>
					</span>
				</li>
				<li class="item border-bottom">
					<span>
						Marilyn Monroe
					</span>
					<span class="right">
						<a href="" class="action icon-add gray"></a>
						<a href="" class="action icon-love gray"></a>
						<a href="" class="action icon-share gray"></a>
					</span>
				</li>
				<li class="item border-bottom">
					<span>
						Marilyn Monroe
					</span>
					<span class="right">
						<a href="" class="action icon-add gray"></a>
						<a href="" class="action icon-love gray"></a>
						<a href="" class="action icon-share gray"></a>
					</span>
				</li>
				<li class="item border-bottom">
					<span>
						Marilyn Monroe
					</span>
					<span class="right">
						<a href="" class="action icon-add gray"></a>
						<a href="" class="action icon-love gray"></a>
						<a href="" class="action icon-share gray"></a>
					</span>
				</li>
				<li class="item border-bottom">
					<span>
						Marilyn Monroe
					</span>
					<span class="right">
						<a href="" class="action icon-add gray"></a>
						<a href="" class="action icon-love gray"></a>
						<a href="" class="action icon-share gray"></a>
					</span>
				</li>
				<li class="item border-bottom">
					<span>
						Marilyn Monroe
					</span>
					<span class="right">
						<a href="" class="action icon-add gray"></a>
						<a href="" class="action icon-love gray"></a>
						<a href="" class="action icon-share gray"></a>
					</span>
				</li>
				<li class="item border-bottom">
					<span>
						Marilyn Monroe
					</span>
					<span class="right">
						<a href="" class="action icon-add gray"></a>
						<a href="" class="action icon-love gray"></a>
						<a href="" class="action icon-share gray"></a>
					</span>
				</li>
				<li class="item border-bottom">
					<span>
						Marilyn Monroe
					</span>
					<span class="right">
						<a href="" class="action icon-add gray"></a>
						<a href="" class="action icon-love gray"></a>
						<a href="" class="action icon-share gray"></a>
					</span>
				</li>

			</ul>
		</div>
	</section>

	<!-- Top hits -->
	<section class="container">
		<article class="song">
			<figure class="image">
				<img src="img/songs/test.jpg" width="128" height="128" alt="Girl Pharrell Williams">
			</figure>
			<p class="name">
				Girl
			</p>
			<p class="author">
				Pharrell Williams
			</p>
		</article>
		<article class="song">
			<figure class="image">
				<img src="img/songs/test.jpg" width="128" height="128" alt="Girl Pharrell Williams">
			</figure>
			<p class="name">
				Girl
			</p>
			<p class="author">
				Pharrell Williams
			</p>
		</article>
		<article class="song">
			<figure class="image">
				<img src="img/songs/test.jpg" width="128" height="128" alt="Girl Pharrell Williams">
			</figure>
			<p class="name">
				Girl
			</p>
			<p class="author">
				Pharrell Williams
			</p>
		</article>
		<article class="song">
			<figure class="image">
				<img src="img/songs/test.jpg" width="128" height="128" alt="Girl Pharrell Williams">
			</figure>
			<p class="name">
				Girl
			</p>
			<p class="author">
				Pharrell Williams
			</p>
		</article>
		<article class="song">
			<figure class="image">
				<img src="img/songs/test.jpg" width="128" height="128" alt="Girl Pharrell Williams">
			</figure>
			<p class="name">
				Girl
			</p>
			<p class="author">
				Pharrell Williams
			</p>
		</article>
		<article class="song">
			<figure class="image">
				<img src="img/songs/test.jpg" width="128" height="128" alt="Girl Pharrell Williams">
			</figure>
			<p class="name">
				Girl
			</p>
			<p class="author">
				Pharrell Williams
			</p>
		</article><article class="song">
			<figure class="image">
				<img src="img/songs/test.jpg" width="128" height="128" alt="Girl Pharrell Williams">
			</figure>
			<p class="name">
				Girl
			</p>
			<p class="author">
				Pharrell Williams
			</p>
		</article>
		<article class="song">
			<figure class="image">
				<img src="img/songs/test.jpg" width="128" height="128" alt="Girl Pharrell Williams">
			</figure>
			<p class="name">
				Girl
			</p>
			<p class="author">
				Pharrell Williams
			</p>
		</article>
		<article class="song">
			<figure class="image">
				<img src="img/songs/test.jpg" width="128" height="128" alt="Girl Pharrell Williams">
			</figure>
			<p class="name">
				Girl
			</p>
			<p class="author">
				Pharrell Williams
			</p>
		</article>
		<article class="song">
			<figure class="image">
				<img src="img/songs/test.jpg" width="128" height="128" alt="Girl Pharrell Williams">
			</figure>
			<p class="name">
				Girl
			</p>
			<p class="author">
				Pharrell Williams
			</p>
		</article>
		<article class="song">
			<figure class="image">
				<img src="img/songs/test.jpg" width="128" height="128" alt="Girl Pharrell Williams">
			</figure>
			<p class="name">
				Girl
			</p>
			<p class="author">
				Pharrell Williams
			</p>
		</article>
		<article class="song">
			<figure class="image">
				<img src="img/songs/test.jpg" width="128" height="128" alt="Girl Pharrell Williams">
			</figure>
			<p class="name">
				Girl
			</p>
			<p class="author">
				Pharrell Williams
			</p>
		</article>
	</section>
</body>
</html>
