@import '../lib/normalize.styl/normalize'
@import 'fonts'
@import 'colors'

// Common Styles
h1,h2,h3,h4,h5,h6,figure
  margin 0
  padding 0
body
  font-family 'Varela Round'
  font-size 16px

// ------------ Views ---------------

// Login and Sign Up views
.Header
  background url('../assets/bg_header.jpg') center center
  background-size cover
  color sf_white
  text-align center

.Header-Logo
  padding 3em 0 1em 0

.Sociallogin
  ul
    list-style-type none
    margin 0
    padding 0
    li
      margin 1em 0


// Buttons
.btn
  background sf_gray
  border-radius 5px
  color sf_white
  display inline-block
  text-align left
  text-decoration none
  padding .5em
  vertical-align middle
  width 230px
  height 32px
  span.fa
    display inline-block
    text-align center
    width 30px
  &.btn-fb
    background sf_blue_fb
  &.btn-tw
    background sf_blue_tw

.text-border-left
  height 32px
  line-height 32px
  border-left 2px solid sf_white + 20
  padding-left .5em
